<%= form_for project do |f| %>
    <div class="ui form">
        <%= f.hidden_field :admin_id, :value => current_user.id %>

        <div>
            <%= f.label :"프로젝트 제목" %>
            <%= f.text_field :title %>
        </div>

        <div>
            <%= f.label :attachment %>
            <%= f.file_field :attachment %>
        </div>
        
        <%= f.submit %>
    </div>
<% end %>
