<%= form_for project do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <%= f.submit %>
<% end %>

<%= form_tag "/", method: "post", class: "ui form", multipart: true do %>
    <%= hidden_field_tag "admin_id", current_user.id %>
    <p>프로젝트 제목:</p> <%= text_field_tag :title, "", class: "field" %>
    <p>프로젝트 설명:</p> <%= text_area_tag "description", nil, size: "50x5", class: "field" %>
    <%= file_field_tag "reference" %>
<% end %>

<form class="ui form" action='/' method='POST'>

    <div class="field ui three column gird">
        <div class="ui three column grid">
            <div class="column">
                <p>최대 인원</p>
                <input type='number' name='maxMember' min='1'/>
            </div>
            <div class="column">
                <p>사용 언어</p>
                <select name='isKorean'>
                    <option value='true'>한국어</option>
                    <option value='false'>English</option>
                </select>
            </div>
            <div class="column">
                <p>협업 방식</p>
                <select name='isOnline'>
                    <option value='true'>재택/온라인</option>
                    <option value='false'>오프라인 모임</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <p>필요한 스킬</p>
        <input type='text' name='skills'/>
    </div>
    <div class="field">
        <p>협업툴</p>
        <input type='text' name='tools'/>
    </div>
    <div class="field">
        <p>첨부파일 (파일이 여러개일 경우 zip파일로 모아서 첨부해주세요.)</p>
        <input type='file' name='files'/>
    </div>

    <div class="field">
        <p>태그 (엔터키로 구분하여 입력해주세요)</p>
        <textarea rows='5' cols='20' name='tags'></textarea>
    </div>

    <button class="ui button" type="submit">제출</button>
</form>