<h1><%= @project.id%>번 프로젝트 수정</h1>

<form class="ui form" action='/project/<%= @project.id %>' method='POST'>
	<!-- https://www.w3schools.com/tags/att_input_type.asp -->
	<input type='hidden' name='_method' value='patch'>
	<input type='hidden' name='admin_id' value=1>
	<div class="field">
		<p>프로젝트 제목</p>
		<input type='text' name='title' value="<%= @project.title%>"/>
	</div>
	<div class="field">
		<p>프로젝트 설명</p>
		<textarea rows='5' cols='50' name='description'><%= @project.description%></textarea>
	</div>
	<div class="field ui three column gird">
		<div class="ui three column grid">
			<div class="column">
				<p>최대 인원</p>
				<input type='number' name='maxMember' min='1' value=<%= @project.maxMember%>/>
			</div>
			<div class="column">
				<p>사용 언어</p> 
				<select name='isKorean'>
					<option value='true' <% if @project.isKorean == true %> selected <% end%>>한국어</option>
					<option value='false' <% if @project.isKorean == false %> selected <% end%>>English</option>
				</select>
			</div>
			<div class="column">
				<p>협업 방식</p>
				<select name='isOnline'>
					<option value='true' <% if @project.isOnline == true %> selected <% end%>>재택/온라인</option>
					<option value='false' <% if @project.isOnline == false %> selected <% end%>>오프라인 모임</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<p>필요한 스킬</p>
		<input type='text' name='skills' value="<%= @project.skills%>"/>
	</div>
	<div class="field">
		<p>협업툴</p>
		<input type='text' name='tools' value="<%= @project.tools%>"/>
	</div>
	<div class="field">
		<p>첨부파일 (파일이 여러개일 경우 zip파일로 모아서 첨부해주세요.)</p>
		<input type='file' name='files' value=<%= @project.files%>/>
		<!-- TODO: 수정 시 첨부파일 사라지는 문제 해결하기-->
	</div>
	<div class="field">
		<p>태그 (쉼표로 구분하여 입력해주세요)</p>
		<textarea rows='5' cols='20' name='tags'><% @project.tags.each do |tag|%><%=tag.content%>&#13;&#10;<%end%></textarea>
	</div>
	<div class="field">
		<p>프로젝트 완료 여부</p>
		<input type="checkbox" name="isClosed" value="true" <% if @project.isClosed == true %>checked <% end %>>완료
	</div>

	<input type='submit'/>
</form>