<br>
<h1 class="ui center aligned header">흥미로운 프로젝트를 찾아 보세요!</h1>

<div class="ui stackable", id="this_form">
  <%= form_tag search_url, method: :post %>
    <div class="ui input huge fluid action">
      <%= search_field_tag 'keyword' %>
      <button class="ui icon button huge">
        <i class="search icon"></i>
      </button>
      <span id="filter" class="ui icon button huge">
        <i class="filter icon"></i>
      </span>
    </div>
    <div class="ui segment" id="filter-board" style="position: fixed; visibility: hidden; z-index: 2;"> <!--display: none;-->
      <!--프로젝트명이랑 책임자 이름은 그냥 입력해서 검색하게 함.
      # 들어가면 태그로 인식하게 하기?! 정규표현식 써야 하나 어떻게 하는지 찾아 보기-->
      <div class="filter-board-attribute">
        <%= label_tag "책임자 이름: " %>
        <%= text_field_tag "admin" %>
      </div>
      <div class="filter-board-attribute">
        <%= label_tag "최대 인원(1~20): " %>
        <%= range_field_tag "maxMember", 20, min: 1, max: 20 %>
      </div>
      <div class="filter-board-attribute">
        <%= label_tag "사용 언어: " %>
        <label>사용 언어: </label>
        <input type="radio" name="isKorean" value="true">한국어
        <input type="radio" name="isKorean" value="false">English
      </div>
      <div class="filter-board-attribute">
        <label>협업 방식: </label>
        <input type="radio" name="isOnline" value="true">재택/온라인
        <input type="radio" name="isOnline" value="false">오프라인 모임
      </div>
      <div class="filter-board-attribute">
        <label>스킬 (최대 3개 입력 가능): </label>
        <%= text_field_tag "skill1" %>
        <%= text_field_tag "skill2" %>
        <%= text_field_tag "skill3" %>
      </div>
      <div class="filter-board-attribute">
        <label>도구: </label>
        <%= text_field_tag "tool1" %>
        <%= text_field_tag "tool2" %>
        <%= text_field_tag "tool3" %>
      </div>
      <div class="filter-board-attribute">
        <label>모집 마감 여부: </label>
        <%= check_box_tag "isClosed" %>
      </div>
    </div>
  </form>
</div>

  <h2>Featured Projects</h2>
  <div id="featured-projects-box">
    <div class="ui grid">
      <% @projects.reverse.each_with_index do |p, i| %>
        <% if i < 4 %>
          <div class="four wide column ui segment">
            <%= link_to p.title, p, class: "project-title" %><br>
            <%= link_to p.admin.name, "user/#{p.admin.id}", class: "project-admin" %><br>
            <%= p.description %><br>
            <% p.tags.each do |tag| %>
              <a class="project-tag"><%= tag.content %></a>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <br>
  <h2>All Projects</h2>
  <div id="featured-projects-box">
    <% @projects.order(created_at: :desc).reverse.each_with_index do |p, i| %>
      <div class="ui segment">
        <%= link_to p.title, p, class: "project-title" %><br>
        <%= link_to p.admin.name, "user/#{p.admin.id}", class: "project-admin" %><br>
        <%= p.description %><br>
        <% p.tags.each do |tag| %>
          <a class="project-tag"><%= tag.content %></a>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @projects %>
  <br><br>

<script>
  $(document).ready(function() {
    $("#filter").on('click', function() {
      // $("#filter-board").toggle();
      $("#filter-board").css("visibility") == "hidden" ? $("#filter-board").css("visibility", "visible") : $("#filter-board").css("visibility", "hidden");
    })
  })

  document.getElementById("this_form").style.visibility = 'none';
</script>

