<br>

<h2>Featured Projects</h2>
<div class = "ui cards ui grid">
  <% @projects.sort_by{ |p| p.project_likes.where(created_at: Time.current.all_month).length }.reverse.each_with_index do |p, i| %>
    <div class="four wide column">
      <% if i < 4 %>
        <div class="ui card">
          <div class = "content">
            <div class = "header"><%= link_to p.title, p, class: "project-title" %></div>
            <div class = "meta"><%= link_to p.admin.name, "user/#{p.admin.id}", class: "project-admin" %></div>
            <% if p.isClosed == true %><a class="ui red label">완료</a>
            <% else %><a class="ui blue label">진행중</a>
            <% end %></br>
            <div class = "description"><%=p.description%></div>
          </div>
          <div class = "extra content">
            <% p.tags.each do |tag| %>
              <%= link_to tag.content, search_url(:keyword => tag.content, :maxMember => "20", 
              :skill1 => "", :skill2 => "", :skill3 => "", :tool1 => "", :tool2 => "", :tool3 => ""), class: "ui label", style: "margin-bottom: 5px;", method: :get %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

  <br>
  <h2>All Projects</h2>
  <div id="featured-projects-box">
    <% @projects_bypage.each_with_index do |p, i| %>
      <div class="ui segment">
        <%= link_to p.title, p, class: "project-title ui header" %><br>
        <%= link_to p.admin.name, "user/#{p.admin.id}", class: "project-admin" %><br>
        <% if p.isClosed == true %><a class="ui red label">완료</a>
        <% else %><a class="ui blue label">진행중</a>
        <% end %></br>
        <%= p.description %><br><br>
        <% p.tags.each do |tag| %>
          <%= link_to tag.content, search_url(:keyword => tag.content, :maxMember => "20", 
                :skill1 => "", :skill2 => "", :skill3 => "", :tool1 => "", :tool2 => "", :tool3 => ""), class: "ui label", style: "margin-bottom: 5px;",method: :get %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>

  <div style = "display: flex; justify-content: center;">
    <%= paginate @projects_bypage%>
  </div>
  <br><br>

<script>
  $(document).ready(function() {
    $("#filter").on('click', function() {
      $("#filter-board").toggle();
    });
  });  
</script>
