<br>
<h1>검색 결과</h1>
<% @results.reverse.each_with_index do |r, i| %>
  <div class="ui segment result" <% if i > 4 %> style="display: none;" <% end %>>
    <%= link_to r.title, r, class: "project-title ui header" %><br>
    <%= link_to r.admin.name, "user/#{r.admin.id}", class: "project-admin" %><br>
    <%= r.description %><br><br>
    <% if r.isClosed == true %><a class="ui red label">완료</a>
    <% else %><a class="ui blue label">진행중</a>
    <% end %><br><br>
    <% r.tags.each do |tag| %>
      <%= link_to tag.content, search_url(:keyword => tag.content, :maxMember => "20", 
        :skill1 => "", :skill2 => "", :skill3 => "", :tool1 => "", :tool2 => "", :tool3 => ""), class: "ui label", style: "margin-bottom: 5px;", method: :post %>
    <% end %>
    <% if @maxMember != 20 %>
      <div>최대 인원: <%= highlight r.maxMember.to_s, r.maxMember.to_s %>명</div>
    <% end %>
    <% if !@isOnline.nil? && (@isOnline == r.isOnline) %>
      <div>협업 방식:
        <% if @isOnline %>
            <%= highlight "재택/온라인", "재택/온라인" %>
        <% elsif !@isOnline %>
            <%= highlight "오프라인 모임", "오프라인 모임" %>
        <% end %>
      </div>
    <% end %>
    <% if !@isKorean.nil? && (@isKorean == r.isKorean) %>
      <div>사용 언어:
        <% if @isKorean %>
            <%= highlight "한국어", "한국어" %>
        <% elsif !@isKorean %>
            <%= highlight "English", "English" %>
        <% end %>
      </div>
    <% end %>
    <% if @skills != [] %>
      <div><%= highlight "필요한 스킬", "필요한 스킬" %>: <%= highlight r.skills, @skills %></div>
    <% end %>
    <% if @tools != [] %>
      <div><%= highlight "도구", "도구" %>: <%= highlight r.tools, @tools %></div>
    <% end %>
    <% if @isClosed && r.isClosed %>
      <div>마감 여부: <%= highlight "마감", "마감" %></div>
    <% end %>
  </div>
<% end %>
<!-- <div class="fluid ui button" id="show-results">전체보기</div> -->

<script>
  $(document).ready(function() {
    $("#show-results").click(function() {
      $(".result").show();
      $(this).hide();
    })
  })
</script>