<h1><%= @project.id%>번 프로젝트입니다.<h1>
<h2><%= @project.admin.email%>님이 생성하신 프로젝트입니다.</h2>

<strong><p>프로젝트 제목:</strong> <%= @project.title %></p>
<strong><p>최대 인원:</strong> <%= @project.maxMember%></p>
<strong><p>필요한 스킬:</strong> <%= @project.skills%></p>
<strong><p>프로젝트 설명:</strong> <%= @project.description%></p>
<strong><p>사용 언어:</strong> 
    <% if @project.isKorean == true %>
        한국어
    <% else %>
        영어<% end %></p>
<strong><p>협업 방식:</strong> 
    <% if @project.isOnline == true %>
        재택/온라인
    <% else %>
        오프라인 모임<% end %></p>
<strong><p>협업툴:</strong> <%= @project.tools%></p>
<strong><p>첨부파일명:</strong> <%= @project.files%></p>
<strong><p>태그:</strong></p>
    <% @project.tags.each do |tag|%>
        <p><%= tag.content%></p>
    <% end %>   
<strong><p>완료 여부:</strong>
    <% if @project.isClosed == true %>
        완료
    <% else %>
        진행 중<% end %></p>

<a href='/'><button type="button">메인 화면으로</button></a>

<% if current_user != @project.admin %>
    <% if current_user.requestees.include? @project.admin %>
        <a href="/<%= @project.id%>/apply"><button type="button">멤버 취소하기</button></a>
    <% else %>
        <A href="/<%= @project.id%>/apply"><button type="button">멤버 신청하기</button></a>
    <% end %>
<% else %>
    <a href='/<%= @project.id%>' data-confirm='삭제하시겠습니까?' data-method='delete'><button type="button">삭제</button></a>
    <a href='/<%= @project.id%>/edit'><button type="button">수정</button></a>
<% end %> 