<br>
<h1>신청자 정보</h1>
<div><strong>이름: </strong><%= @user.name%></div>
<div><strong>소속: </strong><%= @user.institution%></div>
<div><strong>관심 연구 분야: </strong> <%= @user.research_interests%></div>
<div><strong>이메일: </strong> <%= @user.email %></div>
<div><strong>자기소개: </strong> <%= @user.introduction%></div>

<h2><strong>제안한 프로젝트</strong></h2>
<div>
    <% @projects.each do |p| %>
        <div><strong>제목:</strong> <%= link_to p.title, p %>
    <% end %>
    <%= paginate @projects %>
</div>

<h2><strong>참여 중인 프로젝트</strong></h2>
<div>
    <% Membership.where(user_id: @user.id).each do |m| %>
        <div><strong>제목:</strong> <%= link_to Project.find(m.project_id).title, project_url(m.project_id) %>
    <% end %>
</div>

<p><%= link_to '메인 화면으로', projects_url %></p>

