
<div class = "ui center aligned grid">
  <div class = "column" style = "max-width: 450px;">
    <h2 class = "ui header" style = "margin-top: 1rem">Log in</h2>

    <form class = "ui large form">
      <div class = "ui stacked segment" style = "padding: 1em 1em;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <div class = "ui checkbox">
                <%= f.check_box :remember_me%>
                <label>Remember me</label>
              </div>
            </div>
          <% end %>
          <%= f.submit "Log in", class: "ui fluid large submit button", style: "background-color: #f98d7a;"%><br>
        <% end %>
        <button class = "ui fluid large button"><a href="/users/sign_up">Sign up</a></button><br>
        <button class = "ui fluid large button"><a href="/users/password/new">Forgot your password?</a></button>
      </div>
    </form>
  </div>
</div>

