<h1>My Information Edit Page</h1>

<form action='/mypage/edit' method='POST'>
    <div><strong>Name: </strong> <input type = "text" value = "<%= @user.name %>" name = "name"> </div>
    <div><strong>Institution: </strong> <input type="text" value = "<%= @user.institution %>" name = "institution"> </div>
    <div><strong>Research Interest(s): </strong> <input type="text" value = "<%= @user.research_interests %>" name = "research_interests"> </div>
    <div><strong>E-mail: </strong> <input type="text" value = "<%= @user.email %>" name = "email"> </div>
    <div><strong>Introduction: </strong> <input type="text" value = "<%= @user.introduction %>" name = "introduction"> </div>
    <button>Done</button>
</form>
