<br>
<h2 style = "text-align: center;">나의 정보</h2>

<div class = "ui segment">
  <table class="ui very basic table">
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td><strong>E-mail</strong></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><strong>Institution</strong></td>
      <td><%= @user.institution %></td>
    </tr>
    <tr>
      <td><strong>Research Interest(s)</strong></td>
      <td><%= @user.research_interests %></td>
    </tr>
    <tr>
      <td><strong>Introduction</strong></td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  <a href = "/mypage/edit"><button class= "ui fluid large button" style = "background-color: #f98d7a;">나의 정보 수정하기</button></a>
</div>