<br>
<h2 style = "text-align: center;">나의 정보 수정</h2>

<form class="ui form" action='/mypage/edit' method='POST'>
	<div class = "two fields">
		<div class="field">
			<label>Name</label> 
			<input type = "text" value = "<%= @user.name %>" name = "name" placeholder = "Name"> 
		</div>
		<div class="field">
			<label>E-mail</label> 
			<input type="text" value = "<%= @user.email %>" name = "email" placeholder = "E-mail"> 
		</div>
	</div>
	<div class="field">
		<label>Institution</label>  
		<input type="text" value = "<%= @user.institution %>" name = "institution" placeholder = "Institution"> 
	</div>
	<div class="field">
		<label>Research Interest(s)</label>  
		<input type="text" value = "<%= @user.research_interests %>" name = "research_interests" placeholder = "Research Interest(s)"> 
	</div>
	<div class="field">
		<label>Introduction</label>  
		<input type="text" value = "<%= @user.introduction %>" name = "introduction" placeholder = "Introdution"> 
	</div>
	<button class= "ui fluid large button" style = "background-color: #f98d7a;">저장하기</button>
</form>