<!DOCTYPE html>
<html>
  <head>
    <title>OP</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="header item" href='/'>OP</a>
        <div class="right menu">
          <% if user_signed_in? %>
            <%= link_to "새 프로젝트 만들기", new_project_url, class: "item" %>
            <a class="item" href='/mypage'><%= current_user.email %></a>
            <a class="item" href='/users/sign_out' data-method='DELETE'>로그아웃</a>
          <% else %>
            <a class="item" href='/signin'>로그인</a>
            <a class="item" href='/signup'>회원가입</a>
          <% end %>
        </div>
      </div>
    </div>

    <% if request.fullpath.start_with? '/projects/' %>
      <div class="ui attached stackable menu">
        <div class="ui container">
          <div class="item">프로젝트 메뉴 바 자리!</div>
        </div>
      </div>
    <% end %>

    <div class="ui main container">
      <%= yield %>
    </div>
  </body>
</html>
