<!DOCTYPE html>
<html>
  <head>
    <title>OP</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui attached stackable secondary menu" id="bar">
      <div class="ui container">
        <%= link_to "OP", root_url, class: "header item" %>
        <div class="right menu">
          <% if user_signed_in? %>
            <%= link_to "새 프로젝트 만들기", new_project_url, class: "item" %>
            <div class="item ui dropdown">
              <i class="user icon ui red circular label"></i>
              <div class="text"><%= current_user.name %></div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="/mypage">mypage</a>
                <a class="item" href="/myprojects">내 프로젝트</a>
                <a class="item" href="/users/sign_out" data-method="DELETE">로그아웃</a>
              </div>
            </div>
          <% else %>
            <%= link_to "로그인", signin_url, class: "item" %>
            <%= link_to "회원가입", new_user_registration_url, class: "item" %>
          <% end %>
        </div>
      </div>
    </div>

    <% if request.fullpath.start_with? '/projects/' %>
      <div class="ui attached stackable menu" id="project-bar">
        <div class="ui container">
          <div class="item">프로젝트 메뉴 바 자리!</div>
          <% if user_signed_in? and @project.admin == current_user %>
            <%= link_to "삭제", @project, method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: "item" %>
            <%= link_to "수정", edit_project_url(@project.id), class: "item" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# if  %>

    <div class="ui main container">
      <%= yield %>
    </div>
    <!--여기 색깔이 왜 이렇게 될까-->
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
